@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.google-background {
  background-image: image-url("background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-image {
  flex-basis: 40%;

  img {
    max-width: 100%;
  }
}

.scraper-text {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  padding-left: 10px;
}

#flash {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25vw;
}

.upload-box {
  height: 160px;
  border-style: dashed !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-text {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.table-fix-head {
  overflow: auto;
  height: 50vh;
}

.table-fix-head thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

#notifications {
  width: 400px;
}

#notification-icon-container {
  position: relative;

  span {
    background-color: #dc3545;
    border-radius: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 10px;
  }
}
